In [1]:
import numpy as np
import pandas as pd

In [ ]:
np.arange(1,11).mean() # numpy 평균
np.arange(1,11).var() # numpy 분산도

np.float64(5.5)

In [6]:
np.sum((np.arange(1,11) - np.arange(1,11).mean())**2)/9

np.float64(9.166666666666666)

In [ ]:
pd.DataFrame(data=range(1,11)).mean() # pandas 평균
pd.DataFrame(data=range(1,11)).var() # pandas 분산도

np.float64(8.25)

In [ ]:
import requests
import pymysql

url = "http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd"

payload={"bld":"dbms/MDC/STAT/standard/MDCSTAT01901",
"locale":"ko_KR",
"mktId":"ALL",
"share":"1",
"csvxls_isNo":"false",}

request_headers = {
    "Accept": "application/json, text/javascript, */*; q=0.01",
    "Accept-Encoding": "gzip, deflate",
    "Accept-Language": "ko-KR,ko;q=0.9,en-US;q=0.8,en;q=0.7",
    "Connection": "keep-alive",
    "Content-Length": "88",
    "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8",
    "Host": "data.krx.co.kr",
    "Origin": "http://data.krx.co.kr",
    "Referer": "http://data.krx.co.kr/contents/MDC/MDI/mdiLoader/index.cmd?menuId=MDC0201020101",
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36",
    "X-Requested-With": "XMLHttpRequest"
}
r= requests.post(url, data=payload, headers=request_headers)

data = r.json()['OutBlock_1']

conn = pymysql.connect(host='127.0.0.1', user='play', passwd='123', database='sk17', port=3306)
cur = conn.cursor()

sql = "INSERT INTO st_master VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

for x in data:
    #cur.execute(sql, list(x.values()))
    ISU_CD, ISU_SRT_CD, ISU_NM, ISU_ABBRV, ISU_ENG_NM, LIST_DD, MKT_TP_NM, SECUGRP_NM, SECT_TP_NM, KIND_STKCERT_TP_NM, PARVAL, LIST_SHRS = x.values()
    LIST_SHRS = LIST_SHRS.replace(",", "")
    PARVAL = None if PARVAL == "무액면" else PARVAL.replace(",", "")
    cur.execute(sql,[ISU_CD, ISU_SRT_CD, ISU_NM, ISU_ABBRV, ISU_ENG_NM, LIST_DD, MKT_TP_NM, SECUGRP_NM, SECT_TP_NM, KIND_STKCERT_TP_NM, PARVAL, LIST_SHRS] )

conn.commit()
conn.close()

In [64]:
cur.execute('desc st_master')

12

In [65]:
cur.fetchall()

(('ISU_CD', 'varchar(12)', 'NO', '', None, ''),
 ('ISU_SRT_CD', 'varchar(10)', 'NO', 'PRI', None, ''),
 ('ISU_NM', 'varchar(100)', 'NO', '', None, ''),
 ('ISU_ABBRV', 'varchar(100)', 'NO', '', None, ''),
 ('ISU_ENG_NM', 'varchar(100)', 'NO', '', None, ''),
 ('LIST_DD', 'date', 'NO', '', None, ''),
 ('MKT_TP_NM', 'varchar(30)', 'NO', '', None, ''),
 ('SECUGRP_NM', 'varchar(30)', 'NO', '', None, ''),
 ('SECT_TP_NM', 'varchar(100)', 'NO', '', None, ''),
 ('KIND_STKCERT_TP_NM', 'varchar(30)', 'NO', '', None, ''),
 ('parval', 'float', 'YES', '', None, ''),
 ('LIST_SHRS', 'varchar(30)', 'NO', '', None, ''))